<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
			.content > .col-md-9 img { margin-top: 0px; width:90%; }
    </style>

		<div class="container-fluid" style="margin-top:100px">
				<div class="head">TEAM / Acknowledgement</div>
				<div class="content row">
          <div class="col-md-9">
            <div class="exp">
           	 <div class="head2" id="general">General Support </div>
           	 <div class="rect single">
           	   <p>President Jenny Su</p>
           	   <p>Vice President Tung Yang Chen</p>
           	   <p>Professor Ming-Derg Lai</p>
           	   <p>Professor C.H. Chang</p>
					 	 	 <p>Professor Chi-cheng Chiu</p>
           	 </div>

            <div class="head2" id="fund">Financial Support</div>
            <div class="rect">
              <h5>Golden Support</h5>
              <p style="margin-bottom:0">Diamond BioFund Inc.</p>
							<img src="{{imgDiamond}}" />
							<p style="margin-bottom:0">Microbio Co., Ltd.</p>
							<img src="{{imgMicroBio}}" />
            </div>

						<div class="rect">
							<h5>Silver Support</h5>
							<p style="margin-bottom:0">The DOW Chemical Company</p>
							<img src="{{imgDow}}" />
							<p style="margin-bottom:0">NCKU (National Cheng Kung University)</p>
							<img src="{{imgNCKU}}" />
							<p style="margin-bottom:0">GeneOnline</p>
							<img src="{{imgGeneOnline}}" />
							<p style="margin-bottom:0">IDT (Integrated DNA Technologies)</p>
							<img src="{{imgIDT}}" />
							<p style="margin-bottom:0">MathWorks</p>
							<img src="{{imgMathWorks}}" />
						</div>

						<div class="head2" id="lab">Lab/Technical Support</div>
            <div class="rect">
              <h5>Student</h5>
              <p>Yueh-Lin Ho</p>
							<p>Pei-Hsuan Wu</p>
							<p>Chien-Cheng Lai</p>
							<p>Jia Bao Yan</p>
            </div>

            <div class="rect">
              <h5>Professor</h5>
              <p>Yan, Shian-Jang</p>
							<p>Shi-Yi Tan</p>
							<p>Pei-Hsun Kao</p>
            </div>

            <div class="rect single">
              <h5>Department</h5>
              <p>Dept. of life science</p>
							<p>Dept. of physiology</p>
							<p>Dept. of chemical engineering </p>
            </div>

          	<div class="head2" id="equip">Equipment Support</div>
            <div class="rect single">
              <p>Dept. of life science</p>
							<p>Dept. of physiology</p>
							<p>Dept. of chemical engineering</p>
							<p>Prof. Shian-Jang Yan</p>
            </div>

          	<div class="head2" id="hardware">Hardware Support</div>
            <div class="rect single small-size">
							<p>Chia-Fu Lee</p>
            </div>

          	<div class="head2" id="hp">Human Practices Support</div>
            <div class="rect single small-size">
							<h5>staff in Asia-Pacific Conference</h5>
              <p>Hsin Yu Hsiao</p>
							<p>Rainier</p>
							<p>Chien Hui Hung</p>
							<p>Vicky</p>
							<p>Vita</p>
							<p>CHEN,SHU-TING</p>
							<p>Wanda</p>
							<p>YE,YI-JYUN</p>
							<p>Huang Xuan Yao</p>
            </div>

          	<div class="head2" id="special">Special Support</div>
            <div class="rect single">
							<p>Prof King-Low Chow</p>
							<p>Prof Chuan-Hsiung Chang</p>
							<p>Prof W.L. Chen</p>
            </div>
					</div>
				</div>
				<div class="col-md-3">
					<ul id="sidemenu" style="width:90%;">
						<li><a href="#" onClick="return toEvent('general');">General Support</a></li>
						<li><a href="#" onClick="return toEvent('fund');">Financial Support</a></li>
						<li><a href="#" onClick="return toEvent('lab');">Lab/Technical Support</a></li>
						<li><a href="#" onClick="return toEvent('equip');">Equipment Support</a></li>
						<li><a href="#" onClick="return toEvent('hardware');">Hardware Support</a></li>
						<li><a href="#" onClick="return toEvent('hp');">HP Support</a></li>
						<li><a href="#" onClick="return toEvent('special');">Special Support</a></li>
					</ul>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
