<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">TEAM / Member</div>
				<div class="content row">
          <div class="col-md-12">
            {{#each member}}
              {{#each this}}
              <div class="rect">
                  <div class="left">
                    <h4 class="dept">{{@key}}</h4>
                 </div>
                 <div class="right">
                   {{#each this}}
                        <div class="member row">
                          <img class="m-img col-md-5" src="{{this.img}}" alt={{this.Name}} />
													<div class="col-md-7">
	                          <p class="name">{{this.Name}}</p>
  	                        <p class="about">{{this.About}}</p>
													</div>
                        </div>
                   {{/each}}
                 </div>
               </div>
             {{/each}}
            {{/each}}

					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
