<html>
  <head>
    {{> head}}
        <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
        <style>
            #photo-left { background-image: url("{{cover}}"); }
        </style>
        <div class="container-fluid" style="margin-top:100px">
                <div class="head">NOTE / Device Design</div>
                <div class="content row">
                    <div class="col-md-9">
                        <div class="head2">Notebook - Device Design : Software</div>
                        <div class="title-line" id="sec1"></div>
                        <div class="title-content">Received components from the stores </div>
                        <h5>May 03/2016</h5>
                        <p>Finished our first prototype of our design.</p>
                        <h5>May 05/2016</h5>
                        <p>Tested our first our prototype and failed.</p>
                        <h5>May 20/2016</h5>
                        <p>Finished our second prototype of our design.</p>
                        <h5>May 30/2016</h5>
                        <p>Tested our second prototype and failed.</p>
                        <div class="title-line" id="sec2"></div>
                        <div class="title-content">Revised and reconstructed the prototypes </div>
                        <h5>Jun. 15/2016</h5>
                        <p>Replaced our sensor with higher sensitivity.</p>
                        <h5>Jun. 16/2016</h5>
                        <p>Finished third prototype and succeed.</p>
                        <div class="title-line" id="sec3"></div>
                        <div class="title-content">Researching papers of model finished </div>
                        <h5>Jul. 01/2016</h5>
                        <p>Final paper research present and shared our extensive paper research result.</p>
                        <h5>Jul. 05/2016</h5>
                        <p>Strategy Modification</p>
                        <p>Asked professors for feedback and modify our strategy</p>
                        <h5>Jul. 17/2016</h5>
                        <p> Finished the diffusion simulation by finite differencing explicit methods in 2D</p>
                        <h5>Aug. 10/2016</h5>
                        <p> Tested the first data and found the suitable model by regression</p>
                        <h5>Aug. 24/2016</h5>
                        <p>Statistical test by the pair-difference T test</p>
                        <h5>Aug. 30/2016</h5>
                        <p>Designed electrical circuit to reduce the cost</p>
                        <h5>Sep. 01/2016</h5>
                        <p>Finished the statistical inference and the whole statistical inference and prediction</p>
                        <h5>Sep. 05/2016</h5>
                        <p>Strategy modification and asked for users’ feedbacks, we add more functions to strengthen our product integrity</p>
                        <h5>Sep. 15/2016</h5>   
                        <p>Made app that suits our user-friendly experience</p>
                        <h5>Sep. 20/2016</h5>
                        <p>Built a system that upload the data to the cloud via Bluetooth and app</p>
                        <div class="title-line" id="sec4"></div>
                        <div class="title-content">Final testing of device </div>
                        <h5>Sep. 30/2016</h5>
                        <p>Cooperated with wet lab and test the flow of device</p>
                        <h5>Oct. 05/2016</h5>
                        <p>Tested all functions of our system</p>
                        <h5>Oct. 10/2016</h5>
                        <p>Final Feedback Searching</p>
                        <p>Demonstrated to our potential users ask for final feedbacks</p>
                        <br/><br/><br/>
                        <div class="head2">Notebook - Device Design : Hardware</div>
                        <div class="title-line" id="sec5"></div>
                        <div class="title-content">Idea of Hardware design</div>
                        <h5>Jul. 04/2016</h5>
                        <p>Prototype 1</p>
                        <img src="{{fig1}}" />
                        <img src="{{fig2}}" />
                        <p>Prototype 1 combine with toilet</p>
                        <img src="{{fig3}}" />
                        <div class="title-line" id="sec6"></div>
                        <div class="title-content">Intergration of Hardware with arduino system</div>
                        <h5>Jul. 18/2016</h5>
                        <p>For the first time to assemble the Arduino system and prototype.</p>
                        <p>materials</p>
                        <img src="{{fig4}}" />
                        <p>team work</p>
                        <img src="{{fig5}}" />
                        <p>program test</p>
                        <img src="{{fig6}}" />
                        <div class="title-line" id="sec7"></div>
                        <div class="title-content">Feasibility test</div>
                        <h5>Aug. 01/2016</h5>
                        <p>LED excited E coli.</p>
                        <img src="{{fig7}}" />
                        <p>LED excited E coli. with the filter</p>
                        <img src="{{fig8}}" />
                        <p>Photo-resistance testing</p>
                        <img src="{{fig9}}" />
                        <p>LED matrix</p>
                        <img src="{{fig10}}" />
                        <div class="title-line" id="sec8"></div>
                        <div class="title-content">Prototype 2 </div>
                        <h5>Aug. 15/2016</h5>
                        <p>Top View </p>
                        <img src="{{fig11}}" />
                        <p>Back View</p>
                        <img src="{{fig12}}" />
                        <p>Sensing block</p>
                        <img src="{{fig13}}" />
                        <p>test paper</p>
                        <img src="{{fig14}}" />
                        <p>insert direction</p>
                        <img src="{{fig15}}" />
                        <p>circuit column arrangement</p>
                        <img src="{{fig16}}" />
                        <div class="title-line" id="sec9"></div>
                        <div class="title-content">3D animation of prototype 2 </div>
                        <h5>Aug. 29/2016</h5>
                        <p>prototype 2 3D modal</p>
                        <img src="{{fig17}}" />
                        <div class="title-line" id="sec10"></div>
                        <div class="title-content">Intergration of prototype 2 </div>
                        <h5>Sep. 12/2016</h5>
                        <p>Arduino test</p>
                        <img src="{{fig18}}" />
                        <p>Razor</p>
                        <img src="{{fig19}}" />
                        <div class="title-line" id="sec11"></div>
                        <div class="title-content">Prototype Molding</div>
                        <h5>Sep. 26/2016</h5>
                        <p>Final prototype with white color</p>
                        <img src="{{fig20}}" />

                    </div>
                    <div class="col-md-3">
                        <ul id="sidemenu">
                            <li><a href="#" onClick="return toEvent('sec1');">Received components from the stores</a></li>
                            <li><a href="#" onClick="return toEvent('sec2');">Revised and reconstructed the prototypes </a></li>
                            <li><a href="#" onClick="return toEvent('sec3');">Researching papers of model finished</a></li>
                            <li><a href="#" onClick="return toEvent('sec4');">Final testing of device</a></li>
                        </ul>
                    </div>
                </div>
        </div> <!-- /.container-fluid -->
        {{> footer }}
    </body>
</html>
