<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{cover}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">DEVICE / Demonstrate</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">Demonstration</div>

						<div class="title-line" id="sec2">Urine Collection</div>
						<video class="demo-video" controls>
								<source src="{{video2}}" type="video/mp4">
								Your browser does not support the video.
						</video>
						<p>This is U-KNOW PLUS. We build an automatic urine collection system to make it even more user-friendly. By pressing the button, your urine is automatically collected and sent to our column. Through U-KNOW PLUS, the U-Know detection causes us no inconvenience to our daily life.</p>
						<p>Therefore, you can use it every day to know about your glucose level without invasive monitoring detection.</p>

						<div class="title-line" id="sec1">Procedure of U-KNOW</div>
						<video class="demo-video" controls>
								<source src="{{video1}}" type="video/mp4">
								Your browser does not support the video.
						</video>
						<p>Step ONE: Turn on U-KNOW</p>
						<p>Step TWO: Sample your urine in a column in our device, U-KNOW.</p>
						<p>Step THREE: Receive the result on the screen. The signal can be send to an app connecting with U-KNOW, so the users are able to track the result through via smart devices, such as smart phone and Apple Watch.</p>

						<div class="title-line">Structure of U-KNOW</div>
						<video class="demo-video" controls>
								<source src="{{video3}}" type="video/mp4">
								Your browser does not support the video.
						</video>
						<p>This is U-know. Robust, extremely accurate, remote controlled health care system. You can use it every day without invasive detection. U-know knows about your diabetes condition. Gone are the days of diagnosing you get diabetes only when you have no chance to recover. Gone are the days of simple diagnostic device that can’t help prevent you and your family from diabetes. U-know makes you know if you are at high risk diabetic group. U-know makes it as easy as possible to be user friendly and technology friendly. </p>
						<video class="demo-video" controls>
								<source src="{{video4}}" type="video/mp4">
								Your browser does not support the video.
						</video>
						<p>By adding urine in our u-coli, we use 405nm blue laser to activate bio-sensor. If there is any glucose in your urine, boom and our u-coli will emit red light. Moreover, there is a filter above u-coli which designed to block the blue laser and other unnecessary light. So the red light coming across the filter is a warning to indicate high-risked diabetes.</p>
						<video class="demo-video" controls>
								<source src="{{video5}}" type="video/mp4">
								Your browser does not support the video.
						</video>
						<p>So we use light sensitive resistor to make the bio-signal into digital signal so that we can synchronize the data with the smart phone by bluetooth. We even use and code our arduino to trigger the whole system and even digitalize bio-signals. But we want more, we want U-know makes you know the health condition in the daily life. So to visualize our data better, we design an app on mobile phone to display the result.</p>
		                  <div class="img">
		                    <img src="{{img1}}" />
		                    <div>List Paragr</div>
		                  </div>
						<p>We create a whole system to digitalize bio-signal and display the result in our daily life.</p>
					</div>
					<div class="col-md-3">
						<ul id="sidemenu">
							<li><a href="#sec2" onClick="return toEvent('sec2');">Urine Collection</a></li>
							<li><a href="#sec1" onClick="return toEvent('sec1');">Procedure of U-KNOW</a></li>
							<li><a href="#sec3" onClick="return toEvent('sec3');">Structure of U-KNOW</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
