<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">DEVICE / Hardware</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="title-line" id="acc">Accomplishments</div>
							<ul><li>Build a functional and affordable prototype of urine testing health care system and characterize it</li>
									<li>Create an instructional video, handbook manual and a bill of materials</li>
									<li>Implement Bio-safety to our device</li>
									<li>Integration with <a href="{{projModeling}}">modeling</a></li>
									<li>Corporate with <a href="http://2016.igem.org/Team:TCU_Taiwan" target="_blank">Tzu Chi University</a></li>
						<div class="title-line" id="intro">Introduction</div>
						<p>Measuring fluorescence is an essential part of our project. The fluorescence level indicates the concentration of the reporter protein activated by glucose. However, the commercial devices of measuring fluorescence such as ELISA and fluorescent microscopy are too expensive and not user-friendly for the public’s daily use. Therefore, we, iGEM NCKU, create a cost-friendly device, which is suitable for both public and DIY enthusiasts. This device would build the gap between scientific research to public. </p>
						<div class="title-line" id="mot">Motivation</div>
						<p>When brainstorming for our device, we confronted two problems. First, how would users approach the urine test occasionally? No one in daily life would run into a hospital or a pharmacy just for a urine test. It is time consuming and a waste of resources to use a single testing without any long term tracing. Second, how can we bring this kind of knowledge beyond the lab? Not everyone has the lab resources, engineering background and most important, a lot of money, to assemble this device. Hence, we want to make this device available to the every one of us.</p>
						<div class="title-line" id="measure">Measuring principle </div>
						<p>The measuring principle of fluorescence is shown below. We use 435nm blue laser to excite our samples. Then the excited samples will emit 605nm red light thorough the filter. The filter is designed to block the blue laser being seen when reflected by the samples. We chose cut-off filter at cutting wavelength of 580nm to eliminate the exciting light. The 605nm red light then passes through the focusing lens to our detector to maximize the sensitivity of our device.</p>
						<img src="{{fig1}}"/>
						<div class="title-line" id="design">Device Design</div>
						<p>The structure of our device would contain four parts, detection, processing, and transmission. </p>
						<ol>
							<li>Sample Collection
								<p>To simplify the using process, we designed a urine collecting equipment connected with our device. It’s a plastic tube that fixed to the toilet wall. With the specific angle, it is feasible for men and women to use. The stepper motor will draw urines in and we use both nozzle and features of stepper motor to control the accuracy. TODO:（圖片說明：塑膠管上開洞的原因）</p></li>
							<li>Detection
								<p>As we have mentioned in the previous section. The detector of our device transforms the light intensity to the signal frequency and sends to the processor. </p></li>
							<li>Processing
								<p>Our core processor is the arduino. Arduino is an open-source prototyping platform based on easy-to-use hardware and software. We code our arduino to be able to initialize our detection, to filter our input signal and to measure the result kinetically.</p></li>
							<li>Transmission 
								<p>To visualize our data better, we design an app on mobile phone to display the result. We establish the connection between arduino and mobile phone via bluetooth. We also enable users to control our device on the mobile phone by a user-friendly interface. </p></li>
						</ol>
						<img src="{{fig2}}" />
						<div class="title-line" id="material">Materials </div>
						<ul><li>Arduino Mega</li>
								<li>TSL 235R</li>
								<li>LEE Filter 019</li>
								<li>Light sensitive</li>
								<li>Blue laser light 405nm</li>
								<li>Screen 16*2</li>
								<li>Small breadboard</li>
								<li>Male to Female DuPont Breadboard Jumper Wires</li>
								<li>Power supply</li>
								<li>Holder</li></ul>
						<div class="title-line" id="ref">References</div>
						<p>TODO: 找特定的paper(等我們挑一下）</p>
					</div>
					<div class="col-md-3">
						<ul id="sidemenu">
							<li><a href="#" onClick="toEvent('acc');">Accomplishments</a></li>
							<li><a href="#" onClick="toEvent('intro');">Introduction</a></li>
							<li><a href="#" onClick="toEvent('mot');">Motivation</a></li>
							<li><a href="#" onClick="toEvent('measure');">Measuring principle</a></li>
							<li><a href="#" onClick="toEvent('design');">Device Design</a></li>
							<li><a href="#" onClick="toEvent('material');">Materials</a></li>
							<li><a href="#" onClick="toEvent('ref');">References</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
