<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">DEVICE / Software</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">Software</div>
						<div class="title-line" id="analysis">Automatically Analysis</div>
						<p>In order to make U.coli works automatically, we develop software that can calculate the data obtained by our device and translate into the glucose concentration with a user-friendly interface.</p>
						<p>The logic of the code is as follow: Calculating the production rate whenever a new data is inputted, when the production rate starts to decline, automatically find out the value production rate and calculate the corresponding glucose concentration value by the formula we introduce in <a href="{{projModel1}}">model.</a></p>
						<p>The result can be divided into three parts: Safe, In danger and Emergency. As you can see in <a href="#fig1" onClick="return toEvent('fig1');">Figure 1</a>, when glucose concentration is between 1 mg/μL and 30 mg/μL, our device can numerically report the glucose concentration with mean value and standard deviation, see <a href="#fig2" onClick="return toEvent('fig2');">Figure 2</a>. </p>
						<div id="fig1" class="img">
							<img src="{{fig1}}" />
							<div>Figure 1, The fitting curve of U coli show the range we can calculate numerically.</div>
						</div>
						<div id="fig2" class="img">
							<img id="fig2" src="{{fig2}}" />
							<div>Figure 2, Report when the result of concentration in the calculable range (1 mg/μL ~ 30 mg/μL), the bottom graph shows the user condition.</div>
						</div>
						<p>If the concentrate is outside of this range, the software will report ‘‘Safe” if the concentration is too low or ‘‘Emergency’’ if the concentration is too high, see <a href="#fig3" onClick="return toEvent('fig3');">Figure 3</a>.</p>
						<div id="fig3" class="img" style="text-align:left">
							(a)<img src="{{fig3a}}" />
							(b)<img src="{{fig3b}}" />
							<div style="text-align:center">Figure 3, Report when the result of concentration detection (a) is larger than 30 mg/μL and (b) or lower than 1 mg/μL.</div>
						</div>
						<p>By using this code, we can let computer automatically analysis the data and give a report weekly so that our user can adjust their life style by knowing the body condition.</p>
					</div>
					<div class="col-md-3">
						<ul id="sidemenu" style="width:100%">
							<li><a href="#" onClick="return toEvent('analysis');">Automatically Analysis</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
