<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{cover}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">PROJECT / Measurement</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">Measurement</div>
						<div class="title-line" id="sec1">Overview</div>
						<p>One of the main aspect of our project U-KNOW is to measure the exact urine glucose concentration by the fluorescent intensity of glucose-induced RFP. We did it successfully and precisely.</p>
						<p>From the data of fluorescent intensity, we approached and analyzed it both numerically by mathematical fitting and theoretically by modeling with enzyme kinetics. As a result, we derived a prediction formula, that can use fluorescent intensity as input, to output the glucose concentration. To verify the formula we performed a test to determine whether U-KNOW can quantify the concentration of glucose. Result: Compared The theoretical value to the actual value with n=63, the average recovery rate is 104% 〈95% ~114%〉</p>
						<div class="title-line long" id="sec2"></div>
						<div class="title-content">Measurement: Prediction and Quantifying the amount of urine glucose</div>
						<p>Our goal is to determine the amount of glucose present in urine sample. Thus, we used final glucose concentration of: 0,1,3,5,15,30,45 mM to induce our U.coli for 12 hours in 96 well and measure the fluorescent intensity at excitation/emission wavelength 562nm/599nm, the difference of fluorescent intensity between each group were significant at T (time) = 8hr.</p>

	          <img src="{{img6}}" alt="fig5 result">
            <p><b>Figure 5:</b> fluorescence intensity with 95% confidence interval after 8 hour induction with final glucose concentration 0,1,3 5,15,30,45 mM, all differences between each group shows statistical significance with P < 0.05, proving that out U.coli do differentiate urine sample containing various amount of glucose, ranging from 0~45 mM.</p>

              <p>Based on the results above, we derived a <a href="{{projModel1}}">prediction formula</a>, to calculate the urine glucose concentration.</p>

            <img src="{{img8}}" alt="fig6 result">
            <p><b>Figure 6:</b> $$\frac{dY}{dt}=\frac{17.05\times [Glucose]^{1.18}+16.07}{[Glucose]^{1.18}+4.04}$$</p>

              <p>To verify the formula, we performed a test to clarify whether our U.coli can predict and quantify the concentration of urine glucose. </p>
              <p>Reuslt: with n=63, the average recovery rate is 104%〈95% ~114%, which proved that our U.coli do predict and quantify the concentration of urine glucose</p>

              <p>In conclusion, by applying this <a href="{{projModel1}}">prediction formula</a>, it shown that our U.coli could predict and quantify the concentration of urine glucose.</p>
					</div>
					<div class="col-md-3">
						<ul id="sidemenu" style="width:100%">
							<li><a href="#" onClick="return toEvent('sec1');">Overview</a></li>
							<li><a href="#" onClick="return toEvent('sec2');">Prediction & Quantifying</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
