<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{sample2}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">PROJECT / Model</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">Model</div>
						<div class="title-line" id="fitting">Fitting Theory</div>
             <p>U.coli uses promoter Pl, which can be inhibited by CRP and indirectly induced by glucose, to produce fluorescent protein. Because the process that glucose induces the promoter is not a direct process, there are a lot of compound involve in it and form a network.</p>
             <p> This network is composed of two main systems: glucose digest system and CRP activation system, which are competitive to each other. </p>
						 <div class="img" style="width:32%;display:inline-block;margin-left:8px">
	             <img src="{{image1}}" />
  	           <div>The network of induction of glucose induced promoter Pl.</div>
						 </div>
						 <div class="img" style="width:32%;display:inline-block">
	             <img src="{{image2}}" />
  	           <div>Two different pathway in the network.</div>
             </div>
						 <div class="img" style="width:32%;display:inline-block">
	             <img src="{{image3}}" />
  	           <div>The overall impact when glucose is added.</div>
             </div>
             <p> When glucose is added, some related compound will decrease during the reaction chain, and finally the concentration of activated CRP will also decrease, which means the CRP inhibited promoter Pl can express more following gene with the addition of glucose.</p>
             <p>Obviously, the concentration of adding glucose and the activated CRP have negative correlation. But if we want to assay the concentration of inputted glucose numerically, we have to derive a formula base on these chemical pathways.</p>
						<p>(<a href="{{projModel1}}">Read more...</a>)</p>

						<div class="title-line" id="statistics">Statistics Analysis</div>
                  <p>U.coli uses promoter Pl, which can be inhibited by CRP and indirectly induced by glucose, to produce fluorescent protein. Because the process that glucose induces the promoter is not a direct process, there are a lot of compound involve in it and form a network.</p>
                  <p> This network is composed of two main systems: glucose digest system and CRP activation system, which are competitive to each other. </p>
						 <div class="img" style="width:32%;display:inline-block;margin-left:8px">
	             <img src="{{image4}}" />
               <div>The network of induction of glucose induced promoter Pl.</div>
						 </div>
						 <div class="img" style="width:32%;display:inline-block">
	             <img src="{{image4}}" />
               <div>Two different pathway in the network.</div>
             </div>
						 <div class="img" style="width:32%;display:inline-block">
	             <img src="{{image6}}" />
               <div>The overall impact when glucose is added.</div>
             </div>
                  <p> When glucose is added, some related compound will decrease during the reaction chain, and finally the concentration of activated CRP will also decrease, which means the CRP inhibited promoter Pl can express more following gene with the addition of glucose.</p>
                  <p>Obviously, the concentration of adding glucose and the activated CRP have negative correlation. But if we want to assay the concentration of inputted glucose numerically, we have to derive a formula base on these chemical pathways.</p>
						
						<p>(<a href="{{projModel2}}">Read more...</a>)</p>
					</div>
					<div class="col-md-3">
						<ul id="sidemenu">
							<li><a href="#" onClick="return toEvent('fitting');">Fitting Theory</a></li>
							<li><a href="#" onClick="return toEvent('statistics');">Statistics Analysis</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		<script>document.getElementById("line-left2").style.display="none";</script>
		{{> footer }}
	</body>
</html>
