<html>
  <head>
    {{> head}}
        <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
        <style>
            #photo-left { background-image: url("{{cover}}"); }
        </style>
        <div class="container-fluid" style="margin-top:100px">
                <div class="head">PROJECT / Model</div>
                <div class="content row">
                    <div class="col-md-9">
                        <div class="head2">Model</div>
                        <div class="intro" style="margin-top:20px;font-size:16px;">To analyze the data obtained from U. coli, we adopted two methods  to estimate the glucose concentration efficiently and accurately.  With the statistical method, the glucose can be differentiated from the user's urine in 2 hours. On the the hand,  the theory-dependent fitting method is used to numerically  analyze the urine glucose concentration in 6 hours.</div>
                        <div class="title-line" id="fitting">Fitting Theory</div>
             
             <p>When all compounds reach its steady concentration, the production rate of protein should be a constant and be in form as the following equation:</p>
                        <p>$$\frac{[Protein]}{dt}=\frac{c1[Glucose]+c2}{[Glucose]+c3}$$</p>
                         <p>And the fitting result also show its accuracy and limitation:</p>
                 <img src="{{image1}}" />
                        <p>(<a href="{{projModel1}}">Read more...</a>)</p>

                        <div class="title-line" id="statistics">Statistics Analysis</div>
                   <p>In medicine, when the presence of urine glucose exceeds 5 mM, it implies pre-diabetes or diabetes. However, we refer to people whose urine glucose exceeds 120 mM as sever diabetic patients. Consequently, finding the person whose urine glucose concentration is over 5 mM or 120 mM is our target for prevention and early detection.</p>
                         <div class="img" style="width:32%;display:inline-block;margin-left:8px">
                 <img src="{{image4}}" />
               <div>0.1 vs 5 mM</div>
                         </div>
                         <div class="img" style="width:32%;display:inline-block">
                 <img src="{{image5}}" />
               <div>0.1 vs 120 mM</div>
             </div>
                         <div class="img" style="width:32%;display:inline-block">
                 <img src="{{image6}}" />
               <div>0.1 model plot</div>
             </div>
                  <p>First, we prove that there is a difference between 0.1 mM and 5 mM (120 mM) in the paired-difference T test part. And, we use the regression and prediction intervals to distinguish exceeding 120 mM and 5 mM from exceeding 0.1 mM. From the result, 5 mM can be distinguished from 0.1 mM after 101 minutes, and 120 mM can be distinguished from 0.1 mM after 88 minutes.</p>
                        
                        <p>(<a href="{{projModel2}}">Read more...</a>)</p>
                    </div>
                    <div class="col-md-3">
                        <ul id="sidemenu">
                            <li><a href="#" onClick="return toEvent('fitting');">Fitting Theory</a></li>
                            <li><a href="#" onClick="return toEvent('statistics');">Statistics Analysis</a></li>
                        </ul>
                    </div>
                </div>
        </div> <!-- /.container-fluid -->
        <script>document.getElementById("line-left2").style.display="none";</script>
        {{> footer }}
    </body>
</html>
