<html>
  <head>
    {{> head}}
        <link rel="stylesheet" href="{{cssModeling}}">
  </head>
  <body>
    {{> header }}
    <style>
      #photo-left { background-image: url("{{sample2}}"); }
    </style>
        <div class="container-fluid" style="margin-top:100px">
                <div class="head">PROJECT / Model / Fitting Theory</div>
                <div class="content row">
                    <div class="col-md-9">
                  <div class="head2">Model: Fitting Theory</div>
                  <div class="title-line" id="intro">Introduction</div>
                  <p>U.coli uses promoter Pl, which can be inhibited by CRP and indirectly induced by glucose, to produce fluorescent protein. Because the process that glucose induces the promoter is not a direct process, there are a lot of compound involve in it and form a network.</p>
                  <div class="img">
                    <img src="{{image1}}" />
                    <div>Fig 1, the network of induction of glucose induced promoter Pl.</div>
                  </div>
                  <p> This network is composed of two main systems: glucose digest system and CRP activation system, which are competitive to each other. </p>
                  <div class="img">
                    <img src="{{image2}}" />
                    <div>Fig2, Two different pathway in the network.</div>
                  </div>
                  <p> When glucose is added, some related compound will decrease during the reaction chain, and finally the concentration of activated CRP will also decrease, which means the CRP inhibited promoter Pl can express more following gene with the addition of glucose.</p>
                  <div class="img">
                    <img src="{{image3}}" />
                    <div>Fig3, The overall impact when glucose is added.</div>
                  </div>
                  <p>Obviously, the concentration of adding glucose and the activated CRP have negative correlation. But if we want to assay the concentration of inputted glucose numerically, we have to derive a formula base on these chemical pathways.</p>
                  <br/><br/><br/>
                  <div class="title-line" id="theory">Theory</div>
                  <p>According to <a href="#ref" onClick="return toEvent('ref');">reference (1)</a> we can list the following reaction to simply represent the reaction chain involve in the whole process.</p>
                  <br/>
                  <p class="center">\((PEP-Pi)+E1\leftrightarrow PEP+(E1-Pi)\)</p>
                  <p class="center">\((E_1-Pi)+HPr\leftrightarrow E_1+(HPr-Pi)\)</p>
                  <p class="center">\((HPr-Pi)+E2A\leftrightarrow (E2A-Pi)+HPr\)</p>
                  <p> when glucose participate:</p>
                  <p class="center">\((E2A-Pi)+E2B\leftrightarrow E2A+(E2B-Pi)\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(A)\)</p>
                  <p class="center">\((E2B-Pi)+Glucose\overset{E2C}{\rightarrow} E2B+G6P\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(B)\)</p>
                  <p class="center">\(G6P\underset{Respiration}{\rightarrow}Energy\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(C)\)</p>
                  <br/>
                  <p> when glucose absence:</p>
                  <p class="center">\((E2A-Pi)+AC\leftrightarrow E2A+(AC-Pi)\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(D)\)</p>
                  <p class="center">\(ATP\overset{(AC-Pi)}{\rightarrow} cAMP\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(E)\)</p>
                  <p class="center">\(cAMP+CRPx\leftrightarrow CRP\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(F)\)</p>
                  <p class="center">\(CRP+Pl\leftrightarrow Plx\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(G)\)</p>
                  <p class="center">\(Pl+polymerase+\{nucleotides\}\rightarrow Pl+polymerase+mRNA\)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\(---(H)\)</p>
                  <hr/>
                  <p>Before we get everything started, we first make an assumption so that we can simplify this dynamics considerably.</p>
                  <p style="color:#FA5858;font-size:1.2em;">Assumption 1:<br/>The variation of \(\frac{\Delta[E2A]}{[E2A]}\) is quite small, so we ignore the influence of E2A production reaction chain.</p>
                  <p>The following derivation can only be valid if the assumption above is reasonable.</p>
                  <p>Note: k represent reaction rate constant, K represent reaction equilibrium constant.</p>
                  <hr/>
                  <p>Because reaction E,F,G and B,C involve enzyme reaction, which means the steady state will be reached in a very short time (~seconds), we will deal with them first at <a href="#part1" onClick="toEvent('part1');">Part I</a> to <a href="#part3" onClick="toEvent('part3');">Part III</a>.</p>

                                    <div class="title-line" id="part1" style="padding-bottom:0"></div>
                  <div style="font-size:16px;font-weight:bold">Part I: Gene inhibitor activated transcription</div>
                  <p>If we only see reaction (F) to (H), it can be seen as a modified form of induced system whereas CRP is an inhibitor activated by cAMP.</p>
                  <p class="center">\(\frac{d[mRNA]}{dt}=k_H[Pl][Poly]\prod \{nucleotides\}\)</p>
                  <p class="center">\(\frac{d[Pl]}{dt}=-k_G[CRP][Pl]+k_{-G}[Plx]\)</p>
                  <p>if Pl reach its steady state in a very short time, compared to the change of [CRP], that</p>
                  <p class="center">\(\frac{d[Pl]}{dt}=0\)</p>
                  <p>then,</p>
                  <p class="center">\([Pl]=\frac{k_{-G}}{k_G[CRP]+k_{-G}}[Pl_{total}]=\frac{1}{1+K_G[CPR]}[Pl_{total}]\)</p>
                  <p> where \(K_G=k_G/k_{-G}\), \([Pl_{total}]=[Pl]+[Plx]\)</p>
                  <p>Then the transcription rate will become</p>
                  <p class="center">\(\frac{d[mRNA]}{dt}=k_H[Pl][Poly]\prod \{nucleotides\}=\frac{k_H[Poly]\prod\{nucleotides\}}{1+K_G[CRP]}[Pl_{total}]\)</p>
                  <p>Because nucleotides in biology system is large enough, we can treat it as a constant during the reaction.</p>
                  <p>Set \(V_s=k_H[Pl][Ploy]\prod\{nucleotides\}[Pl_{total}]\), then</p>
                  <p class="center">\(\frac{d[mRNA]}{dt}=\frac{V_s}{1+K_G[CRP]}\)</p>
                  <br/>
                  <p>Then we turn to the dynamics of [CRP]</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;From reaction (F)</p>
                  <p class="center">\(\frac{d[CRP]}{dt}=k_F[cAMP][CRPx]-k_{-F}[CRP]\)</p>
                  <p> When [CRP] reach its steady state,</p>
                  <p class="center">\([CRP]=\frac{[CRP_{total}][cAMP]}{K_F+[cAMP]}\)</p>
                  <p> so the transcription rate become </p>
                  <p class="center">\(\frac{d[mRNA]}{dt}=\frac{V_s}{1+K_G[CRP]}=\frac{V_s(K_F+[cAMP])}{(K_F+[cAMP])+K_G[CRP_{total}][cAMP]}\)<br/>\(=\frac{K_F\frac{1}{[cAMP]}+1}{\frac{K_F}{V_S}\frac{1}{[cAMP]}+\frac{K_G[CRP_{total}]}{V_S}}\)</p>
                  <p>We can see that the transcription rate of genes is a function of [cAMP]</p>
                                    <div class="title-line" id="part2" style="padding-bottom:0"></div>
                  <div style="font-size:16px;font-weight:bold">Part II: The equilibrium of ATP, cAMP</div>
                  <p>cAMP actually participate many biological system not listed here. But briefly, we can assume that it is a first order reaction,</p>
                  <p class="center">\(\frac{d[cAMP]}{dt}|_{consume}=-d_{cAMP}[cAMP]\)</p>
                  <p>according to reaction (E) and (F),</p>
                  <p class="center">\(\frac{d[cAMP]}{dt}=k_E\frac{AC'_{total}[ATP]}{[ATP]+K_E}-d[cAMP]-\frac{d[CRP]}{dt}\)</p>
                  <p>Because in <a href="#part1" onClick="toEvent('part1');">part I</a>, [CRP] in steady state require the concentration of cAMP, which means the whole process will be very complicated if [cAMP] will keep changing with [CRP], so an assumption is needed to make the calculation simpler.</p>
                  <p style="color:#FA5858;font-size:1.2em;">Assumption 2:<br/>The reaction of [CRP] contribute very small to [cAMP], that is, <br/>\(k_E\frac{[AC'_{total}][ATP]}{[ATP]+K_E}-d[cAMP]-\frac{d[CRP]}{dt}\approx k_E\frac{[AC'_{total}][ATP]}{[ATP]+K_E}-d[cAMP]\)</p>
                  <br/>
                  <p> Under the assumption, the equilibrium of [cAMP] will be very easy to get,</p>
                  <p class="center">\(\frac{d[cAMP]}{dt}=k_E\frac{[AC'_{total}][ATP]}{[ATP]+K_E}-d[cAMP]\)</p>
                  <p> so, </p>
                  <p class="center">\([cAMP]=\frac{k_E}{d}\frac{[ATP]}{[ATP]+K_E]}[AC'_{total}]\)</p>
                                    <div class="title-line" id="part3" style="padding-bottom:0"></div>
                  <div style="font-size:16px;font-weight:bold">Part III: Respiration of <i>E. coli</i> effect on E2B’</div>
                  <p>The Glucose transmission and digestion are described in <a href="#ref" onClick="return toEvent('ref');">reference [1]</a>, </p>
                  <div class="img">
                    <img src="{{image4}}" />
                    <div>Fig4, The pathway of glucose digestion.</div>
                  </div>
                  <p>If we write reaction (B) in a more detail way,</p>
                  <p class="center">\(E2B'+Glucose+E2C\leftrightarrow complex+Glucose\overset{k_{cat}}{\rightarrow}E2B+E2C+G6P\)</p>
                  <p> then</p>
                  <p class="center">\(\frac{d[complex]}{dt}=k_B[E2B'][Glucose][E2C]-(k_{-B}+k_{cat}[complex][Glucose])\)</p>
                  <p>When [complex] reach its steady state so that </p>
                  <p class="center">\(\frac{d[complex]}{dt}=0\)</p>
                  <p> then</p>
                  <p class="center">\([complex]=\frac{k_B[E2B'][E2C]}{(k_{-B}+k_{cat})}\)</p>
                  <p>here we introduce an assumption</p>
                  <p style="color:#FA5858;font-size:1.2em;">Assumption 3:<br/>[complex] is very dilute so that [Glucose] will keep its concentration during the reaction chain.</p>
                  <p>We combine this result and calculate reaction (A) and get</p>
                  <p class="center">\(\frac{d[E2B']}{dt}=-k_B[E2B'][Glucose][E2C]+k_{-B}[complex][Glucose]+k_A[E2A'][E2B]-k_A[E2A][E2B'c]\)</p>
                  <p>When E2B’ reach its steady state so that</p>
                  <p class="center">\(\frac{d[E2B']}{dt}\)=0</p>
                  <p>then</p>
                  <p class="center">\([E2B']=\frac{k_{-B}[complex][Glucose]+k_A[E2A'][E2B]}{k_B[E2C][Glucose]+k_{-A}[E2A]}\)</p>
                  <p class="center">\([E2B]=\frac{k_{-B}[complex][Glucose]+k_A[E2A'][E2B_{total}]}{k_B[E2C][Glucose]+k_{-A}[E2A]}-\frac{k_A[E2A'][E2B']}{k_B[E2C][Glucose]+k_{-A}[E2A]}\)</p>
                  <p class="center">\([E2B']=\frac{k_{-B}[complex][Glucose]+k_A[E2A'][E2B_{total}]}{k_B[E2C][Glucose]+(k_{-A}[E2A_{total}]+(k_A-k_{-A})[E2A'])}\)</p>
                  <p style="color:#FA5858;font-size:1.2em;">Assumption 4:<br/>Because [E2A] and [E2A’] are regulated by a lot of chemical compound, which makes [E2A’] and [E2A] not change considerably after a few amount of Glucose is added into the system.</p>
                  <hr>
                  <p>At reaction (A) and (D), reaction don’t involve enzyme reaction, so we will calculate in <a href="#part4" onClick="toEvent('part4');">Part IV</a> and treat it as a most time-consuming reaction in the whole process.</p>
                                    <div class="title-line" id="part4" style="padding-bottom:0"></div>
                  <div style="font-size:16px;font-weight:bold">Part IV: E2B, E2A and AC</div>
                  <p>Here, our target is to find our [AC’] when it reaches steady state.From (A) and (D). Obviously, it is a competitive reaction.</p>
                  <p>We here have two equilibrium constants</p>
                  <p class="center">\(K_A=\frac{[E2A][E2B']}{[E2A'][E2B]}\)</p>
                  <p class="center">\(K_B=\frac{[E2A][AC']}{[E2A'][AC]}\)</p>
                  <p>so</p>
                  <p class="center">\(\frac{K_A}{K_B}=\frac{[E2B'][AC]}{[E2B][AC']}=\frac{[E2B']([AC_{total}]-[AC'])}{([E2B_{total}])[AC']}\)</p>
                  <p>Reassemble and get</p>
                  <p class="center">\([AC']=\frac{K_B[B2B'][AC_{total}]}{K_A([E2B_{total}]-[E2B'])+K_B[E2B']}=\frac{K_B[AC_{total}]}{K_A[E2B_{total}]/[E2B']+(K_B-K_A)}\)</p>
                  <p>Here we have calculated the concentration of [AC’], [E2B’] and [cAMP] in <a href="#part2" onClick="toEvent('part2');">Part II</a> ~ <a href="TODO:no part VI">Part VI</a>, and we also derive a formula that can express the transcription rate of the genes following to the promoter Pl in <a href="#part1" onClick="toEvent('part1');">Part I</a>. </p>
                  <br/>
                  <p>First, we substitute [E2B’] into [AC’] and get</p>
                  <p class="center">\( [AC'] = \frac{K_B[AC_{total}]}{K_A[E2B_{total}]/[E2B']+(K_B-K_A)}=\frac{a[Glucose]+b}{[Glucose]+c}  \)</p>
                  <p>where</p>
                  <p class="center">\(a=\frac{K_B[AC_{total}]k_{-B}[complex]}{K_A[E2B_{total}]+(K_B-K_A)k_{-B}[complex]}\)</p>
                  <p class="center">\(b=\frac{K_B[AC_{total}]k_A[E2A'][E2B_{total}]}{K_A[E2B_{total}]k_B[E2C]+(K_B-K_A)k_{-B}[complex]}\)</p>
                  <p class="center">\(c=\frac{K_A[E2B_{total}](k_{-A}[E2A_{total}+(k_A-k_{-A})[E2A']])+(K_B-K_A)k_A[E2A'][E2B_{total}]}{K_A[E2B_{total}]k_B[E2C]+(K_B-K_A)k_{-B}[complex]}\)</p>
                  <br/>
                  <p>Then put this into [cAMP]</p>
                  <p class="center">\([cAMP]=\frac{k_E}{d}\frac{[ATP]}{[ATP]+K_E}\times \frac{a[Glucose]+b}{[Glucose]+c}=\frac{a'[Glucose]+b}{[Glucose]+c}\)</p>
                  <p class="center">\(a'=\frac{k_E}{d}\frac{[ATP]}{[ATP]+K_E}\times \frac{K_B[AC_{total}]k_{-B}[complex]}{K_A[E2B_{total}]k_B[E2C]+(K_B-K_A)k_{-B}[complex]}\)</p>
                  <br/><br/>
                  <p>then, we can substitute [cAMP] into the formula of transcription</p>
                  <p class="center">\(\frac{dY}{dt}=\frac{K_F\frac{1}{[cAMP]}+1}{\frac{K_F}{V_S}\frac{1}{[cAMP]}+\frac{K_G[CRP_{total}]}{V_S}}\)<br/>\(=\frac{K_F([Glucose]+c)+(a'[Glucose]+b)}{\frac{K_F}{V_S}([Glucose]+c)+\frac{K_G[CRP_{total}]}{V_S}(a'[Glucose]+b)}\)<br/>\(=\frac{(K_F+a')[Glucose]+(b+K_Fc)}{(\frac{K_G[CRP_{total}]}{V_S}+\frac{K_F}{V_S})[Glucose]+(\frac{K_F}{V_S}c+\frac{K_G[CRP_{total}]}{V_S}b)}\)<br/>\(=\frac{c1[Glucose]+c2}{[Glucose]+c3}\)</p>
                  <p>where</p>
                  <p class="center">\(c1=(K_F+a')/(\frac{K_G[CRP_{total}]}{V_S}+\frac{K_F}{V_S})\)</p>
                  <p class="center">\(c2=(b+K_Fc)/(\frac{K_G[CRP_{total}]}{V_S}+\frac{K_F}{V_S})\)</p>
                  <p class="center">\(c3=(\frac{K_F}{V_S}c+\frac{K_G[CRP_{total}]}{V_S}b)/(\frac{K_G[CRP_{total}]}{V_S}+\frac{K_F}{V_S})\)</p>
                  <p>For the correction of cooperativity, we add a Hill parameters, n, on the equation, so that the final formula will become</p>
                  <p class="center">\(\frac{d[Gene]}{dt}=\frac{c1\times [Glucose]^n+c2}{[Glucose]^n}+c3\)</p>
                  <div class="title-line" id="result">Fitting and result</div>
                  <p>After a derivation of transcription rate in single cell, we now have to exam if the function can correctly match the experimental data well.</p>
                  <p>For the fitting data, we differentiate the fluorescence value obtained from photometer, take the differential to get the production rate and fetch out the value when system reach its equilibrium state, fitting the equilibrium production rate with Glucose concentration concentration that lower than 60 mg/μL and get <br/>\(\frac{dY}{dt}=\frac{17.05\times [Glucose]^{1.18}+16.07}{[Glucose]^{1.18}+4.04}\)</p>
                  <img src="{{image5}}" />
                  <div>Fig 5, the fitting curve of the glucose concentration and maxima transcription rate.</div>
                  <br/><br/>
                  <p>The result shows that the fitting curve can fit the data well.</p>
                  <br/>
                  <p>In our case, we want to use the formula to calculate the glucose concentration using the given fluorescence value. It is obvious that if the detected glucose concentration is lower than 30 mg/μL, U.coli can predict the glucose concentration with relatively high robustness. But if the inputted glucose concentration is higher than 30 mg/μL, it is hard to exam the glucose concentration numerically</p>

                  <div class="title-line" id="ref">Reference</div>
                  <p>[1] Glucose Transport in Escherichia coli Mutant Strains with Defects in Sugar Transport Systems, Journal of Bacteriology, Sonja Steinsiek and Katja Bettenbrock</p>
                  <p>[2] Glucose uptake regulation in <i>E. coli</i> by the small RNA SgrS: comparative analysis of <i>E. coli</i> K-12 (JM109 and MG1655) and <i>E. coli</i> B (BL21), Microbial Cell Factories,Alejandro Negrete, Weng-Ian Ng, Joseph Shiloach</p>
                 


                    </div>
                    <div class="col-md-3">
                      <ul id="sidemenu">
                        <li><a href="#" onClick="toEvent('intro');">Introduction</a></li>
                        <li><a href="#" onClick="toEvent('theory');">Theory</a></li>
                        <li><a href="#" onClick="toEvent('part1');">Part I</a></li>
                        <li><a href="#" onClick="toEvent('part2');">Part II</a></li>
                        <li><a href="#" onClick="toEvent('part3');">Part III</a></li>
                        <li><a href="#" onClick="toEvent('part4');">Part IV</a></li>
                        <li><a href="#" onClick="toEvent('result');">Fitting and result</a></li>
                        <li><a href="#" onClick="toEvent('ref');">Reference</a></li>
                      </ul>
                    </div>
                </div>
        </div> <!-- /.container-fluid -->
        {{> footer }}
    </body>
</html>
