<html>
  <head>
    {{> head}}
        <link rel="stylesheet" href="{{cssModeling}}">
        <link rel="stylesheet" href="/wiki/highlight/github.css">
  </head>
  <body>
    {{> header }}
    <style>
      #photo-left { background-image: url("{{sample2}}"); }
    </style>
        <div class="container-fluid" style="margin-top:100px">
                <div class="head">PROJECT / Model / Statistics Analysis</div>
                <div class="content row">
                    <div class="col-md-9">
                        <div class="head2">Model: Statistics Analysis</div>
                        <div class="title-line" id="outline">Outline</div>
                        <p>U.coli uses promoter Pl, which can be inhibited by CRP and indirectly induced by glucose, to produce fluorescent protein. Because the process that glucose induces the promoter is not a direct process, there are a lot of compound involve in it and form a network.</p>
                        <p class="center"> Figure1 (to be update ... ) </p>
                        <p class="center">Fig 1 , the network of induction of glucose induced promoter Pl.</p>
                        <br/>
                        <p> This network is composed of two main systems: glucose digest system and CRP activation system, which are competitive to each other. </p>
                        <p class="center"> Figure2 (to be update ... ) </p>
                        <p class="center">Fig2, Two different pathway in the network.</p>
                        <br/>
                        <p> When glucose is added, some related compound will decrease during the reaction chain, and finally the concentration of activated CRP will also decrease, which means the CRP inhibited promoter Pl can express more following gene with the addition of glucose.</p>
                        <p class="center"> Figure3 (to be update ... ) </p>
                        <p class="center">Fig3, The overall impact when glucose is added.</p>
                        <br/>
                        <p>Obviously, the concentration of adding glucose and the activated CRP have negative correlation. But if we want to assay the concentration of inputted glucose numerically, we have to derive a formula base on these chemical pathways.</p>
                        <br/><br/><br/>
                        <div class="title-line" id="intro">Introduction</div>
                        <p>In medicine, the blood glucose exceeding 5mM/L implies having diabetes, and it exceeding 120mM/L implies being a severe patient. Finding the person whose glucose concentration is over 5mM/L or 120mM/L is our target. First, we prove that there has difference between 0.1mM/L and 5mM/L (120mM/L) in the <a href="#pair" onClick="toEvent('pair');">paired-difference T test</a> part. And, we use the <a href="#reg" onClick="toEvent('reg');">regression and prediction intervals</a> to distinguish exceeding 120mM/L and 5mM/L from exceeding 0.1mM/L. From the result, 5mM/L can be distinguished from 0.1mM/L after 101 minutes, and 120mM/L can be distinguished from 0.1mM/L after 88 minutes.</p>
                        <img src="{{image1}}" />
                        <img src="{{image2}}" />
                        <div class="title-line" id="pair">Paired-difference T test</div>
                        <p>In medicine, the blood glucose exceeding 5mM/L implies having diabetes, and it exceeding 120mM/L implies being a severe patient. Hence, we use paired-difference test to analyze whether the difference of these two groups (0.1 vs 5mM/L or 0.1 vs 120mM/L) have statistical significance in this part.</p>
                        <br/><br/>
                        <p>Procedure</p>
                        <br/>
                        <p>1. Guessing that there is difference over 90 minutes, we analyze the data of 0.1mM/L and 5mM/L at 90 minutes first.</p>
                        <p>(Data)</p>
                        <table>
                            <tr>
                              <th class="dial size1" style="vertical-align:top"><div class="right">Experiment</div><br/><br/><div class="left">Types</div></th>
                              <th class="size2">First</th>
                              <th class="size2">Second</th>
                              <th class="size3">...</th>
                              <th class="size2">Twelfth</th>
                            </tr>
                            <tr>
                              <td>0.1mM/L</td>
                              <td>358</td>
                              <td>368</td>
                              <td>...</td>
                              <td>338</td>
                            </tr>
                            <tr>
                              <td>5mM/L</td>
                              <td>369</td>
                              <td>386</td>
                              <td>...</td>
                              <td>385</td>
                            </tr>
                        </table>
                        <br/>
                        <p>Because the experiments of 0.1mM/L and 5mM/L have correlation and they are small sample, we choose the paired-difference test to examine whether there is difference in two groups at 90 minutes.</p>
                        <br/>
                        <p>Analysis:<br/>(use one-tailed test)<br/></p>
                        <p>\(H_0:\mu_0\le0\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ H_\alpha:\mu_0\ge0\)</p>
                        <p>Because the sample is small, we choose the t distribution to test.</p>
                        <table>
                            <tr>
                              <td class="size1">d(=5mM/L-0.1mM/L)</td>
                              <td class="size2">11</td>
                              <td class="size2">18</td>
                              <td class="size3">...</td>
                              <td class="size2">47</td>
                            </tr>
                        </table>
                        <p>\(n\) (Number of paired differences)=12<br/>\(\bar{d}\) (Mean of the sample differences)= 26.16666667<br/>\(s_d\) (Standard deviation of the sample differences) = \(\sqrt{\frac{\sum(d_i-\bar{d})^2}{n-1}}\) = 13.19664788</p>
                        <p>Test statistic t = \(\frac{\bar{d}-0}{s_d/\sqrt{n}}\) = 6.868713411 \(\gt t_{0.05,11}\) = 1.795885<br/>P(t\(\gt\)6.868713411)= 1.995084e-05<br/>Hence, We conclude that there is a difference between 0.1 and 5mM/L.</p>
                        <p>2. Find the minimal time at which there is statistical significance by paired-difference test.(use R program & α=0.05)</p>
                        <p>(Data)</p>
                        <table>
                            <tr>
                              <th class="size1 dial"><div class="right">Types</div><br/><div class="left">Time(min)</div></th>
                              <th class="size2">0.1mM/L</th>
                              <th class="size3">...</th>
                              <th class="size2">0.1mM/L</th>
                              <th class="size2">5mM/L</th>
                              <th class="size3">...</th>
                              <th class="size2">5mM/L</th>
                            </tr>
                            <tr>
                              <td>0</td>
                              <td>295</td>
                              <td>...</td>
                              <td>276</td>
                              <td>292</td>
                              <td>...</td>
                              <td>291</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>296</td>
                              <td>...</td>
                              <td>276</td>
                              <td>290</td>
                              <td>...</td>
                              <td>291</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>301</td>
                              <td>...</td>
                              <td>277</td>
                              <td>292</td>
                              <td>...</td>
                              <td>287</td>
                            </tr>
                            <tr>
                              <td>.<br/>.<br/>.</td>
                              <td>.<br/>.<br/>.</td>
                              <td>...</td>
                              <td>.<br/>.<br/>.</td>
                              <td>.<br/>.<br/>.</td>
                              <td>...</td>
                              <td>.<br/>.<br/>.</td>
                            </tr>
                            <tr>
                              <td>119</td>
                              <td>392</td>
                              <td>...</td>
                              <td>372</td>
                              <td>420</td>
                              <td>...</td>
                              <td>443</td>
                            </tr>
                            <tr>
                              <td>120</td>
                              <td>392</td>
                              <td>...</td>
                              <td>374</td>
                              <td>427</td>
                              <td>...</td>
                              <td>439</td>
                            </tr>
                        </table>
                        <br/>
                        <p>By using R program<br/>\(t_{0.05,11}\) = 1.795885</p>
                        <table>
                            <tr>
                              <th class="dial size1"><div class="right">statistic</div><div class="left">Time(min)</div></th>
                              <th class="size1"><p>T statistic (\(t_0\))</p></th>
                            </tr>
                            <tr>
                              <td>0</td>
                              <td>2.283227</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>1.992688</td>
                            </tr>
                            <tr>
                              <td>.<br/>.<br/>.</td>
                              <td>.<br/>.<br/>.</td>
                            </tr>
                            <tr>
                              <td>119</td>
                              <td>11.908155</td>
                            </tr>
                            <tr>
                              <td>120</td>
                              <td>15.538544</td>
                            </tr>
                        </table>
                        <p>Hence, we can find \(t_0 \gt t_{0.05,11}\) at every time.</p>
                        <pre><code class="R">data0.1<-read.csv("C:/Users/Rick/Desktop/NCKUactivity/iGEM/819test/0.1urine.csv",header=T)
data5<-read.csv("C:/Users/Rick/Desktop/ NCKUactivity/iGEM/819test/5urine.csv",header=T)
difference<-cbind(data5[,2]-data0.1[,2],data5[,3]-data0.1[,3],data5[,4]-data0.1[,4],data5[,5]-data0.1[,5],data5[,6]-data0.1[,6],data5[,7]-data0.1[,7],data5[,8]-data0.1[,8],data5[,9]-data0.1[,9],data5[,10]-data0.1[,10],data5[,11]-data0.1[,11],data5[,12]-data0.1[,12],data5[,13]-data0.1[,13])
dbar<-difference%*% rep(1/12,12)
var<- ((difference -rep(dbar, 12))^2%*%rep(1,12))/11
sd<-var^0.5
t<-(dbar/sd)*(12^0.5)</code></pre>
                        <p>3. Same with procedure 2, find the minimal time at which there is statistical significance by paired-difference test. (use R program, α=0.05, remove a outlier data)</p>
                        <p>By using R program<br/>\(t_{0.05,10}\) = 1.812461</p>
                        <table>
                            <tr>
                              <th class="dial size1"><div class="right">statistic</div><div class="left">Time(min)</div></th>
                              <th class="size1"><p>T statistic (\(t_0\))</p></th>
                            </tr>
                            <tr>
                              <td>0</td>
                              <td>4.720629</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>4.580426</td>
                            </tr>
                            <tr>
                              <td>.<br/>.<br/>.</td>
                              <td>.<br/>.<br/>.</td>
                            </tr>
                            <tr>
                              <td>119</td>
                              <td>12.428324</td>
                            </tr>
                            <tr>
                              <td>120</td>
                              <td>14.240245</td>
                            </tr>
                        </table>
                    <p>Hence, we can find \(t_0 \gt t_{0.05,10}\) at every time.</p>
                    <p>Conclusion:<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We can say there are the difference groups (0.1 vs 5 mM/L or 0.1 vs 120mM/L) in part 1 with the data. And then, we need to find an accurate value which can distinguish between two groups.</p>
                    <pre><code class="R">data0.1<-read.csv("C:/Users/Rick/Desktop/ NCKUactivity/iGEM/819test/0.1urine.csv",header=T)
data120<-read.csv("C:/Users/Rick/Desktop/ NCKUactivity/iGEM/819test/120urine.csv",header=T)
difference<-cbind(data120[,2]-data0.1[,2],data120[,3]-data0.1[,3],data120[,4]-data0.1[,4],data120[,5]-data0.1[,5],data120[,6]-data0.1[,6],data120[,8]-data0.1[,8],data120[,9]-data0.1[,9],data120[,10]-data0.1[,10],data120[,11]-data0.1[,11],data120[,12]-data0.1[,12],data120[,13]-data0.1[,13])
dbar<-difference%*% rep(1/11,11)
var<- ((difference -rep(dbar, 11))^2%*%rep(1,11))/10
sd<-var^0.5
t<-(dbar/sd)*(11^0.5)</code></pre>
                    <div class="title-line" id="reg" style="padding-bottom:0"></div>
                    <div style="font-size:16px;font-weight:bold">Regression & Prediction interval</div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our product uses the fluorescence intensity to obtain the concentration of blood glucose. Therefore, whether we could precisely distinguish exceeding 120mM/L and 5mM/L from exceeding 0.1mM/L becomes the most important problem. We use the skill of the prediction interval in this part.</p>
                    <br/>
                    <p>Procedure</p>
                    <p>1. Use the regression to find the model of 0.1, 5, 120mM/L, and show the prediction interval plot.</p>
                    <p class="center">(0.1mM/L)<img src="{{image3}}" /></p>
                    <p>(summary)<img src="{{image4}}" /></p>
                    <p>(residual plot)<img src="{{image5}}" /></p>
                    <p>(Q-Q plot)<img src="{{image6}}" /></p>
                    <p>This model conforms the assumption and R-square is equal to 0.9541, so we think the cubic polynomial regression model is suitable.</p> 
                    <p>(prediction interval)<br/>Formula: \(\bar{X}\pm t_{\frac{\alpha}{2},n-1}S\sqrt{1+\frac{1}{n}}\)<img src="{{image7}}" /></p>
                    <p>And look the following, the procedure is same in the 5mM/L and 120mM/L.</p><p class="center">(5mM/L)<img src="{{image8}}" /><img src="{{image9}}" /><img src="{{image10}}" /><img src="{{image11}}" /><img src="{{image12}}" />(120mM/L)<img src="{{image13}}" /><img src="{{image14}}" /><img src="{{image15}}" /><img src="{{image16}}" /><img src="{{image17}}" /></p>
                    <p>2. According to the previous part, we can say that 0.1mM/L and 5mM/L are difference group by the statistical significance. In order to precisely distinguish these two groups, choose the time at which the 5mmo/L and 0.1mmo/L prediction interval started to diverge to be the recommended prediction time.<img src="{{image18}}" /></p>
                    <p>By the above tables, we can see that 5mM/L low prediction line exceeds 0.1mM/L up prediction line when the time is more than 101 mins. Hence, it can be expected to have a higher accuracy to take the data after 101 mins.</p>
                    <br/>
                    <p>(prediction interval of 0.1 &5 mM/L)<img src="{{image1}}" /></p>
                    <p>3. Same with procedure 2, choose the time at which the 120mmo/L and 0.1mmo/L prediction interval started to diverge to be the recommended prediction time.<img src="{{image19}}" /></p>
                    <p>By the above tables, we can find that 120mM/L low prediction line exceeds 0.1mM/L up prediction line when the time is more than 88 mins. Hence, it can be expected to have a higher accuracy to take the data in 88 mins.</p>
                    <br/>
                    <p>(prediction interval of 0.1 &120 mM/L)<img src="{{image2}}" /></p>
                    <h1 class="center">Appendix</h1>
                    <pre><code class="R">#0.1 vs 5
#0.1 urine plot
data<-read.csv("C:/Users/Rick/Desktop/NCKUactivity/iGEM/819test/0.1urine.csv",header=T)
x1<-rep(data[,1],12)
x2<-x1^2
x3<-x1^3
y1<-c(data[,2],data[,3],data[,4],data[,5],data[,6],data[,7], data[,8],data[,9],data[,10], data[,11],data[,12],data[,13])
model<-lm(y1~x1+x2+x3)
yhat0.1<-model$fit
plot(x1,y1,ylim=c(250,450),xlab= "time(mins) ",ylab= "Fluorescent", cex.lab=1.5)
#lines(data[,1], yhat0.1[1:121],lwd=3,col=2)
n=121*12 
mse<-sum((y1-yhat0.1)^2)/(n-3)  # calculate MS_Res(=σ^2)
X<-cbind(1,x1,x2,x3)
se<-sqrt(mse*(1+X[1,]%*%solve(t(X)%*%X)%*%X[1,]))
up0.1<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficients[4]+qt(.975,df=n-2)*se
low0.1<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficients[4]+qt(.025,df=n-2)*se
lines(data[,1], up0.1[1:121], col=2,lwd=3)
lines(data[,1], low0.1[1:121],col=2,lwd=3)
#5 urine plot
data<-read.csv("C:/Users/Rick/Desktop/NCKUactivity/iGEM/819test/5urine.csv",header=T)
x1<-rep(data[,1],12)
x2<-x1^2
x3<-x1^3
y1<-c(data[,2],data[,3],data[,4],data[,5],data[,6],data[,7], data[,8],data[,9],data[,10], data[,11],data[,12],data[,13])
model<-lm(y1~x1+x2+x3)
yhat5<-model$fit 
par(new=TRUE)
plot(x1,y1,ylim=c(250,450),xlab= "time(mins) ",ylab= "Fluorescent", cex.lab=1.5)
#lines(data[,1], yhat5[1:121],lwd=3,col=2)
n=121*12 
mse<-sum((y1-yhat5)^2)/(n-3)  # calculate MS_Res(=σ^2)
X<-cbind(1,x1,x2,x3)
se<-sqrt(mse*(1+X[1,]%*%solve(t(X)%*%X)%*%X[1,]))
up5<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficients[4]+qt(.975,df=n-2)*se
low5<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficients[4] +qt(.025,df=n-2)*se
lines(data[,1], up5[1:121], col=3,lwd=3)
lines(data[,1], low5[1:121], col=3,lwd=3)
title(main="0.1 vs 5mM/L",cex.main=4)
Name<-c(expression(paste("0.1mM/L")),expression(paste("5mM/L")))
legend("topleft", Name, ncol = 1, cex = 1.5, col=c("red","green"),lwd = c(2,2), bg = 'gray90')
#0.1 vs 120
#0.1 urine plot
data<-read.csv("C:/Users/Rick/Desktop/NCKUactivity/iGEM/819test/0.1urine.csv",header=T)
x1<-rep(data[,1],12)
x2<-x1^2
x3<-x1^3
y1<-c(data[,2],data[,3],data[,4],data[,5],data[,6],data[,7], data[,8],data[,9],data[,10], data[,11],data[,12],data[,13])
model<-lm(y1~x1+x2+x3)
yhat0.1<-model$fit
plot(x1,y1,ylim=c(250,450),xlab= "time(mins) ",ylab= "Fluorescent", cex.lab=1.5)
#lines(data[,1], yhat0.1[1:121],lwd=3,col=2)
n=121*12 
mse<-sum((y1-yhat0.1)^2)/(n-3)  # calculate MS_Res(=σ^2)
X<-cbind(1,x1,x2,x3)
se<-sqrt(mse*(1+X[1,]%*%solve(t(X)%*%X)%*%X[1,]))
up0.1<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficients[4]+qt(.975,df=n-2)*se
low0.1<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficiens[4]+qt(.025,df=n-2)*se
lines(data[,1], up0.1[1:121], col=2,lwd=3)
lines(data[,1], low0.1[1:121],col=2,lwd=3)
#120 urine plot
data<-read.csv("C:/Users/Rick/Desktop/NCKUactivity/iGEM/819test/120urine.csv",header=T)
x1<-rep(data[,1],10)
x2<-x1^2
x3<-x1^3
y1<-c(data[,2],data[,3],data[,4],data[,5],data[,6],data[,9],data[,10],data[,11],data[,12],data[,13])
model<-lm(y1~x1+x2+x3)
yhat120<-model$fit 
par(new=TRUE)
plot(x1,y1,ylim=c(250,450),xlab= "time(mins) ",ylab= "Fluorescent", cex.lab=1.5)
#lines(data[,1], yhat120[1:121],lwd=3,col=2)
n=121*10 
mse<-sum((y1-yhat120)^2)/(n-3)  # calculate MS_Res(=σ^2)
X<-cbind(1,x1,x2,x3)
se<-sqrt(mse*(1+X[1,]%*%solve(t(X)%*%X)%*%X[1,]))
up120<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficients[4]+qt(.975,df=n-2)*se
low120<-model$coefficients[1]+x1*model$coefficients[2]+x2*model$coefficients[3]+x3*model$coefficients[4]+qt(.025,df=n-2)*se
lines(data[,1], up120[1:121], col=4,lwd=3)
lines(data[,1], low120[1:121], col=4,lwd=3)
title(main="0.1 vs 120mM/L",cex.main=4)
Name<-c(expression(paste("0.1mM/L")),expression(paste("120mM/L")))
legend("topleft", Name, ncol = 1, cex = 1.5, col=c("red","green"),lwd = c(2,2), bg = 'gray90')</code></pre>
                    </div>
                    <div class="col-md-3">
                      <ul id="sidemenu" style="width:100%">
                        <li><a href="#" onClick="toEvent('outline');">Outline</a></li>
                        <li><a href="#" onClick="toEvent('intro');">Introduction</a></li>
                        <li><a href="#" onClick="toEvent('pair');">Paired-difference T test</a></li>
                        <li><a href="#" onClick="toEvent('reg');">Regression & Prediction</a></li>
                      </ul>
                    </div>
                </div>
        </div> <!-- /.container-fluid -->
        {{> footer }}
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="/wiki/highlight/highlight.pack.js"></script>
        <script src="/wiki/highlight/highlightjs-line-numbers.js"></script>
        <script>hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();</script>
    </body>
</html>
