<html>
  <head>
    {{> head}}
		<link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {{> header }}
		<style>
			#photo-left { background-image: url("{{cover}}"); }
		</style>
		<div class="container-fluid" style="margin-top:100px">
				<div class="head">JUDGING / Safety</div>
				<div class="content row">
					<div class="col-md-9">
						<div class="head2">Safety</div>
						<div class="title-line" id="method">Safety Issues</div>
						<h5>How did we address the safety issues in our project?</h5>
						<ul><li>A <b>non-pathogenic chassis</b>, i.e. <i>E.coli DH5α</i>, <i>E.coli BL21</i> (DE3), is chosen.</li>
								<li>The chassis is in small <b>enclosed space</b> as a barrier to prevent contamination.</li>
								<li><b>"Suicide-gene inducers"</b> in the enclosed space are designed to kill <i>E.coli</i> in the bio-sensing strip.</li>
						</ul>
						<div class="title-line" id="plan">Safety Plan</div>
						<p>Our  <i>E.coli</i> can sense urea glucose. When the glucose level is high, the bacteria can express red fluorescent protein (RFP) as a reporter to give a signal which can be detected using excitation. After the detection, the “suicide-gene inducers”, arabinose, induce the P<sub>BAD</sub> promoter (<a href="http://parts.igem.org/Part:BBa_K206000">BBa_K206000</a>) and then activate the transcription of the lysis gene (<a href="http://parts.igem.org/Part:BBa_K117000">BBa_K117000</a>). The functional assays are showed in <a href="{{projResults}}#safety">Bio-Safety System (PROJECT / Results)</a>.</p>
						<img src="{{image0}}" style="margin-bottom:0"/>
						<div class="img" style="width:24%;display:inline-block;font-weight:bold">
							<img src="{{image1}}" />
							<div style="color:#0d0d0d">RO water</div>
						</div>
						<div class="img" style="width:24%;display:inline-block;font-weight:bold">
							<img src="{{image2}}" />
							<div style="color:#f5474a">Glu 40mM</div>
						</div>
						<div class="img" style="width:24%;display:inline-block;font-weight:bold">
							<img src="{{image3}}" />
							<div style="color:#28c22c">Ara 40mM</div>
						</div>
						<div class="img" style="width:24%;display:inline-block;font-weight:bold">
							<img src="{{image4}}" />
							<div style="color:#1e9db3">Ara 40mM<br/> + Glu 40mM</div>
						</div>
						<div class="title-line" id="lab">Safe Lab</div>
						<h5>Building a safe lab</h5>
						<p>We operated the project in the Biosafety Level 1 (BSL-1) Lab. The space is suitable for experiments in all of our chassis which are Risk Group 1 organisms. Additionally, we always handled biological materials in a laminar flow hood. All of biowastes were autoclaved at the typical 121 °C/15 psi for 15 minutes.</p>

						<div class="title-line" id="law">Laws and Regulations</div>
						<h5>Obeying the laws and regulations of biosafety in our Country/ University</h5>
						<p>Regarding the Environmental Protection, Safety and Health Center is responsible for the safety of biology labs at National Cheng Kung University (<a href="{{ref3}}" target="_blank">Guidelines for Laboratory Biosafety</a>). And Centers for Disease Control (CDC) is the department to govern biosafety for research laboratories in our country (<a href="{{ref4}}" target="_blank">Laboratory Biosafety Management: A Compilation of Regulations and Administrative Guidance</a>).</p>
						<div class="title-line" id="shipment">Safe Shipment</div>
						TODO: 中文字要改掉
						<p>Did you face any safety problems in sending your DNA parts to the Registry? 
How did you solve those problems?
寄送貨運公司? 注意事項? 是否需要準備申請文件之類的前置作業? </p>

					</div>
					<div class="col-md-3">
						<ul id="sidemenu">
							<li><a href="#" onClick="return toEvent('method');">Safety Issues</a></li>
							<li><a href="#" onClick="return toEvent('plan');">Safety Plan</a></li>
							<li><a href="#" onClick="return toEvent('lab');">Safety Lab</a></li>
							<li><a href="#" onClick="return toEvent('law');">Laws, Regulations</a></li>
							<li><a href="#" onClick="return toEvent('shipment');">Safety Shipment</a></li>
						</ul>
					</div>
				</div>
		</div> <!-- /.container-fluid -->
		{{> footer }}
	</body>
</html>
